# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystem are summarized.
**Objectives :**
-  To understand the key aspects of Data Science.
-  To familiarize Open Source, Cloud based and Commercial options for Data Science Tools.
-  To learn about different Data Science Tools,Libraries and Languages.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

|Data Science Tools|
-----------------
| SAS |
| KNIME |
| Weka |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This is simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Pratiksa